@model BiraIssueTrackerCore.Web.Models.IssueTracker.IssueCreateViewModel

@{
	ViewData["Title"] = "New Issue";
}
<h2>New Issue</h2>
<h4>Go ahead... Ruin someone's day...</h4>
<hr />
<form asp-action="New" class="form-horizontal" method="post">
	<div asp-validation-summary="All" class="text-danger"></div>
	<div class="form-group">
		<label asp-for="Title" class="control-label col-md-2"></label>
		<input asp-for="Title" class="form-control" />
		<span asp-validation-for="Title" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Description" class="control-label col-md-2"></label>
		<textarea asp-for="Description" class="form-control" rows="4"></textarea>
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="State" class="control-label col-md-2"></label>
		@Html.EditorFor(model => model.State)
		<span asp-validation-for="State" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="AssigneeEmail" class="control-label col-md-2"></label>
		<input asp-for="AssigneeEmail" id="assigneeEmail" class="form-control" />
		<span asp-validation-for="AssigneeEmail" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Tags" class="control-label col-md-2"></label>
		<input asp-for="Tags" class="form-control" />
		<span asp-validation-for="Tags" class="text-danger"></span>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2">
			<input type="submit" value="Create" class="btn btn-primary" />
		</div>
	</div>
</form>

@Html.Partial("_AssigneeAutocompletePartial")