@model IEnumerable<BiraIssueTrackerCore.Web.Models.IssueTracker.IssueViewModel>

@{
	ViewData["Title"] = "Assigned to Me";
}

<h2>Assigned to Me</h2>

<p>
	<a asp-action="New" class="btn btn-success">Submit New</a>
	<a asp-action="Mine" class="btn btn-primary">My Issues</a>
</p>

@Html.Partial("_TablePartial")
