@model IEnumerable<BiraIssueTrackerCore.Web.Models.IssueTracker.IssueViewModel>

@{
	ViewData["Title"] = "All issues";
}

<h2>All Issues</h2>

<p>
	<a asp-action="New" class="btn btn-success">Submit New</a>
	@if (User.Identity.IsAuthenticated)
	{
		<a asp-action="Mine" class="btn btn-primary">My Issues</a>
		<a asp-action="AssignedToMe" class="btn btn-primary">Assigned to me</a>
	}
</p>

@Html.Partial("_TablePartial")